frontend/node_modules/
.cache/
frontend/.cache
dist/
frontend/dist/
.env
frontend/.env
.DS_Store
frontend/.DS_Store
coverage/
frontend/coverage/
.vscode/
venv/
backend/__pycache__
machine_learning/archive_best_estimators/
machine_learning/datasets/uploaded_images/*.png
extra_scripts/
